.container{
    display: flex;
    padding: 10px;
    background-color: blue;
}

nav a{
    padding: 5px 10px;
    font-size: 20px;
    color: white;
}

h1 {
    padding-left: 10px;
}

body {
    background-color: darkgray;
    margin: 0px;
    font-family: "Source Sans 3", system-ui, -apple-system,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1 {
    margin: 10px 0 8px 10px;  /* top right bottom left */
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 8px 0 6px 0;
}


.university {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.entry {
    margin-left: 10px;
}

#main_page {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    width: min(800px, 90%);
    font-size: 1.2rem;
}

#profile_image {
    display: flex;
    justify-content: center;
}

#face_image {
    width: min(300px, 70%);
    height: min(300px, 70%);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}