.container{
    display: flex;
    padding: 10px;
    background-color: blue;
}

nav a{
    padding: 5px 10px;
    font-size: 20px;
    color: white;
}

body {
    background-color: darkgray;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}